@import "~bootstrap/scss/bootstrap";

.test {
    width: 100px;
}

body {
    background-color: $dark;
    color: #fff;

    .code-block {
        background-color: #eee;
        color: #000;
    }

    a, a:hover {
        color: #bbb;
    }

    pre {
        display: block;
        padding: 10px;
        margin: 0 0 10px;
        font-size: 13px;
        word-break: break-all;
        word-wrap: break-word;
        color: #3a3f44;
        background-color: #f5f5f5;
        border: 1px solid #cccccc;
        border-radius: 4px;
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 10px 15px;
        background-color: #32383e;
        color: #fff;
        border: 1px solid #000;
    }

    .list-group {
        margin-bottom: 20px;
    }
}

header {
    img {
        width: 100%;
    }
}